body {
	background-color: #6699FF;
	color: #D5E3FF;
	font-family: Verdana, Arial, sans-serif;
}
header {
	background-color: #6699FF;
	color: #003366;
	font-family: serif;
}
h1 {
	line-height: 200%;
}
nav {
	font-weight: bold;
}
.category {
	font-weight: bold;
	background-color: #6699FF;
	color: #003366;
	font-size: 1.1em;
}
footer {
	font-size: .70em;
	font-style: italic;
}
#wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}