body {background-color: #FCEBB6;
	color: #221811;
	font-family: Verdana, Arial, sans-serif; }

header {background-color: #D2B48C;
		text-align: center; }

h1 {
	line-height: 200%;
	background-color: #D2B48C;
	text-align: center; }

nav {
	text-align: center;
	font-weight: bold; }
footer {
	background-color: #D2B48C;
	font-size: .60em;
	font-style: italic;
	text-align: center; }
#wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto; }