* { box-sizing: border-box; }
header, nav, main, footer { display: block; }

body {
	background-image: url(gradientblue.jpg);
	background-color: #6699FF;
	color: #D5E3FF;
	font-family: Verdana, Arial, sans-serif;
}
main {
	margin-left: 180px;
	padding-right: 20px;
	padding-bottom: 20px;
}
header {
	background-color: #000066;
	color: #FFFFFF;
	font-family: serif;
	background-image: url(bigfish.gif);
	background-repeat: no-repeat;
	background-position: center;
}
h1 {
	font-size: 3em;
	padding: 10px;
	line-height: 150%;
	text-shadow: 1px 1px 3px #CCCCCC;
	
	
	text-align: center;
	

}
	nav {
	font-weight: bold;
	float: left;
	width: 150px;
}

nav ul {
	list-style-type: none;
}

nav a {
	text-decoration: none;
}

nav a:link { color: #3262A3; }
nav a:visited { color: #6699ff; }
nav a:hover { color:#CCCCCC; }

.category {
	font-weight: bold;
	background-color: #FFFFFF;
	color: #003366;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px #667;
}
footer {
	font-size: .70em;
	font-style: italic;
	padding: 10px;
	margin-left: 180px;
}
footer nav {
	text-align: left;
}
#wrapper {
	background-color: #ffffff;
	color: #000066;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	min-width: 700px;
	max-width: 1024px;
}

img {
	border: none;
}
#mobile { display: none; }
#desktop { display: inline; }

@media only screen and (max-width: 1024px) {
	body { margin: 0; padding: 0; background-color: #FFFFFF; background-image: none; }
	#wrapper { width: auto; min-width: 0; margin: 0; }
	h1 { margin: 0; font-size: 1.8em; line-height: 200%; }
	nav { float: none; width: auto; }
	nav li { display: inline-block; }
	nav a { padding: 1em; font-size: 1.2em; }
	nav ul { text-align: center; padding: 0; margin: 0; }
	main { font-size: 90%; margin: 0; padding-left: 2em; }
	footer { margin: 0; }
}
@media only screen and (max-width: 768px) {
	header { background-image: url(lilfish.gif); background-repeat: no-repeat; background-position: center; }
	h1 { font-size: 1.5em; line-height: 120%; }
	nav a {display: block; padding: 0.2em; font-size: 1.3em; border-bottom: 1px solid #330000; }
	nav li { display: block; }
	nav ul {text-align: left; }
	main { padding-left: 1em; }
	.category { text-shadow: none; }
	#mobile { display: inline; }
	#desktop {display: none;}
}